{% extends 'base.html.twig' %}

{% block title %}Page de Connexion{% endblock %}

{% block body %}
    <style>
        .container
        {
            padding-top: 20px;
        }
        .container .form-control
        {
            width: 15%;
        }
    </style>

<div class="container mt-4">
    {% if error %}
        <div class="alert alert-danger">
            Identifiant ou Mot de Passe incorrect
            <br>
            Veuillez vérifier vos informations
        </div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">Identifiant</label>
            <input type="text" class="form-control" id="username" name="_username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
    <form action="register" method="post">
        <br>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
</div>
{% endblock %}
